body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  background-color: #0f0f0f;
  color: #ddd;

  font: 1.7em Arial, sans-serif;

  user-select: none;
  cursor: default;
  overflow: hidden;
}

main {
  border: 1px solid #fff;
  border-radius: 10px;

  padding: 0.3em 1.3em 1.3em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #0f0f0f;
}

#question {
  text-align: center;
}

h4 {
  text-align: center;
  margin: 0.6em 0;
}

#answer {
  all: unset;

  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.3em;
}

#settings {
  overflow: hidden;
}

#settings-languages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

#settings-modes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  & > button {
    padding: 0.2em 2em;
  }
}

button {
  all: unset;

  border: 1px solid #666;
  border-radius: 4px;

  padding: 0.2em;
  text-align: center;
  font-size: 0.8em;

  transition: border-color 200ms;

  &:hover {
    border-color: #fff;
  }
}

#current-mode {
  font-size: 0.7em;
  text-align: center;
  margin: 0.3em 0 0.5em;
}

#hide-info {
  font-size: 0.6em;
  text-align: center;
  margin: 0.4em 0 0;
}
