body {
    background-color: black;
}

#container {
    width: 99vw;
    height: 98vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-game {
    width: 40em;
    height: 10em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid transparent; /* Ukryta ramka */
    box-shadow: 
        inset 0 0 7em #39ff14,
        5px 10px 8em #39ff14;
    background: transparent;
}
a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}