body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

#container {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.btn-mode {
  padding: 8px 15px;
  background: #4a6baf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-mode:hover {
  background: #3a5a9f;
}

.btn-mode:active {
  background: #2a4a8f;
  font-weight: bold;
}

canvas {
  background: transparent;
}

#back-arrow {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 50px;

  &::before {
    content: '';
    width: 15px;
    height: 15px;
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    animation: arrow-move 1s ease-in-out infinite alternate;
  }
}

@keyframes arrow-move {
  from {
    transform: translateX(-4px) rotate(-135deg);
  }
  to {
    transform: translateX(6px) rotate(-135deg);
  }
}
