body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  color: #ddd;
  font: 1.7em Arial, sans-serif;
  user-select: none;
  cursor: default;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerTextDiv {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 0px solid white;
  padding: 40px;
  font-size: 3.5em;
  z-index: 10;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#textContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  border: 5px solid white;
  padding: 40px;
  font-size: 70%;
  z-index: 10;
  position: relative;
  backdrop-filter: blur(15px);
}

.center {
  text-align: center;
}

.animated-border-box,
.animated-border-box-glow {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  border-radius: 10px;
}

.animated-border-box-glow {
  overflow: hidden;
  filter: blur(20px);
}

.animated-border-box:before,
.animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0) 25%);
  animation: rotate 4s linear infinite;
}

.animated-border-box:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #0f0f0f;
  border-radius: 7px;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
